<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @car.year %>
</p>
<% if current_user.id == @car.user_id%>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%end%>
<%= link_to 'Back', cars_path %>
