<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    <% if user_signed_in? %>
      <h4>Welcome <%= current_user.email %>, <%= link_to  "Sign out", destroy_user_session_path, method: :delete %></h4>
    <% else %>
      <%= link_to  "Sign in", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
